<page xmlns="http://projectmallard.org/1.0/"
      xmlns:its="http://www.w3.org/2005/11/its"
      type="guide" style="task"
      id="index">

  <info>
    <title type="text">Boardgame help</title>
    <title type="link">Boardgame help</title>
    <revision pkgversion="1.0" version="1.0" date="2016-08-29" status="review"/>

    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude"/>

    <credit type="author">
      <name>Gregory Lozet</name>
      <email>gregorylozet@gmail.com</email>
    </credit>

    <desc><app>Boardgame</app> is an application to play several board games.
    Get started with <app>Boardgame</app> and learn about the available
    features.</desc>
  </info>

  <title>
    <media type="image" mime="image/png" its:translate="no" width="26" height="26" src="media/boardgame.png" />
    Boardgame
  </title>

  <section id="play" style="2column">
    <title>Game play</title>
  </section>

  <section id="games" style="2column">
    <title>The games</title>
  </section>

</page>
